@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

#root {
  margin: 0;
  padding: 0;
  background-color: black;
  color: #f9f9f9;
  height: 100vh;
  outline: none !important;
  font-family: "Roboto", sans-serif !important;
}
::-webkit-scrollbar {
  display: none;
}
